body {
  background-image: url("https://images.unsplash.com/photo-1501453301373-6ce77ab25fa8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
}

main,
form {
  width: 50vw;
  min-width: 275px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label,
form input,
form button {
  margin: 5px 0;
  font-family: "Shadows Into Light";
}

form input:focus,
form button:focus {
  outline: 1px solid #35352e;
}

form h4 {
  font-family: "Shadows Into Light";
  font-weight: 700;
  font-style: italic;
  color: #35352e;
  justify-content: center;
}

form label {
  color: #1c1111;
  font-weight: 600;
}

.newForm {
  font-weight: 600;

  color: #35352e;
  transition: all 0.2s;
  border-radius: 18px;
  padding: 20px;
  width: 200px;
  height: 15px;
}

form button:hover {
  display: flex;
  justify-content: center;
  color: #35352e;
  background-color: #d9f3d9;
}

.eatery h4 {
  font-family: "Shadows Into Light";
  color: #35352e;
  margin: 5px;
  padding: 0;
}

.eatery h4 {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

.eatery h5 {
  font-size: 16px;
}

.eatery h5 em:before {
  content: "- ";
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px 0px 30px;

  background-color: rgba(0, 0, 0, 0.4);
}

.show img {
  max-width: 500px;
  max-height: 375px;
  border-radius: 25%;
}

@media screen and (max-width: 500px) {
}
